:root {
  --body_background: white;
  --body_color: black;
  min-height: 100vh;
}

[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: white;
}

* {
  transition: all 0.3s ease-in-out;
}

.App {
  text-align: center;
  background-color: var(--body_background);
  color: var(--body_color);
  min-height: 100vh;
}

#light {
  background-color: ghostwhite;
}

#dark {
  background-color: #282c34;
}

.body {
  background-color: white;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  height: 100%;
}

.settings {
  /* padding-top:20px;
  padding-right: 100px;
  padding-bottom: 20px; */
  text-align: right;
  height: 100%;
}

.name-text {
  padding-bottom: 30px;
  font-size: large;
}

#light .name-text {
  color: black
}

#dark .name-text {
  color: white
}

.custom-card {
  background-color: white;
}

#light .custom-card {
  background-color: beige;
}

#dark .custom-card {
  background-color: grey;
}

.cardContainerStyle {
  margin-bottom: '2000px';
};

.nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
  background-color: pink;
}

.nav-link:hover {
  color: #ff5722; /* Change the color on hover */
}

a {
  color: black !important;
}
a:hover {
   color: #00F
}