.App {
  text-align: center;
  background-color: pink;
}

#light {
  background-color: ghostwhite;
}

#dark {
  background-color: #282c34;
}

.body {
  background-color: white;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

.settings {
  /* padding-top:20px;
  padding-right: 100px;
  padding-bottom: 20px; */
  text-align: right;
  height: 100%;
}

.name-text {
  padding-bottom: 30px;
  font-size: large;
}

#light .name-text {
  color: black
}

#dark .name-text {
  color: white
}

.custom-card {
  background-color: white;
}

#light .custom-card {
  background-color: beige;
}

#dark .custom-card {
  background-color: grey;
}

.cardContainerStyle {
  margin-bottom: '2000px';
};